<div class="hero">
  <img  src="https://lh3.googleusercontent.com/p/AF1QipPnNHCXOb17HbqdCzl_S9vw-CXN5sQcOUUGlRPZ=s1360-w1360-h1020" alt="Hero Image" class="hero-image">
  <div class="hero-content">
    <h1>PAWMIGO</h1>
    <p>Something inspirational about pets</p>
      <div class="d-grid gap-2 d-md-block">
        <button class="btn btn-info" type="button"><%= link_to "Sign in", new_user_session_path, class: "nav-link" %></button>
        <button class="btn btn-info" type="button"><%= link_to "Sign up", new_user_registration_path, class: "nav-link" %></button>
      </div>
  </div>
</div>

