<div>
 <h1>Hello User</h1>
</div>

<div class="card" style="width: 18rem;">
  <img src="https://lh3.googleusercontent.com/p/AF1QipNcvxXF0_ovUidm0nXfqWP83k2PNYUP7zgIViZU=s1360-w1360-h1020" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Pets Name</h5>
    <a href="<%= pets_path %>" class="btn btn-primary">More Details</a>
  </div>
</div>


