/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* app/assets/stylesheets/application.css */

.wrap {
  margin: 20px;
}

/* Style the hero banner container */
.hero {
  height: 600px; /* You can adjust the height as needed */
  overflow: hidden; /* Hide any content that overflows the container */
}

/* Set the image as the background with cover */
.hero-image {
  object-fit: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

/* Style the hero content */
.hero-content {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  padding-top: 10px;
  color: #fff;
  
  text-align: center;
}

/* Style the heading and tagline */
.hero-content h1 {
  font-size: 2.5rem;
}

.hero-content p {
  font-size: 1.2rem;
}
